name: Release
on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    name: Publish Release
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: Setup java 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin

      - name: Extract changelog
        id: changelog
        env:
          REF: ${{ github.ref }}
        run: |
          awk -v tag="${REF:10}" '
            $1 == "!!!!!" && $2 == tag {found=1; next}
            $1 == "!!!!!" && found {exit}
            found
          ' CHANGELOG.md

      - name: Publish plugin
        env:
          GITHUB_API_TOKEN: ${{ github.token }}
          MODRINTH_API_TOKEN: ${{ secrets.MODRINTH_PUBLISH_TOKEN }}
          CHANGELOG: ${{ steps.changelog.outputs.changelog }}
        run: ./gradlew publishMods --no-daemon -PnoDryPublish
